version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    command: npm start
    environment:
      - NODE_ENV=development
    volumes:
      - ./app:/app
      - /app/node_modules
      - sqlite_data:/app/db
    restart: unless-stopped

volumes:
  sqlite_data:
